/**Import font type to use*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

/**Import Navigation stylesheet*/
@import url(./nav.css);

/**Import variable stylesheet*/
@import url(./var.css);

body {
  display: block;
  margin: 0px 3px;
  -webkit-font-smoothing: antialiased;
}
/**
* Main container
*/

.main-container {
  background: var(--gn-bg);
  margin: 0;
  font-family: var(--rob);
}

section {
  padding: var(--pd);
  color: var(--gn-fc);
}

.super-block {
  text-align: center;
}

.col-left {
  padding: var(--pd) 0px;
  margin-bottom: 15px;
}
.emphasis {
  font-style: italic;
}
.col-right {
  padding: var(--pd) 0px;
}

.sub-heading {
  color: rgb(203, 201, 69);
  font-size: 25px;
}
.test-site-codes {
  width: 80%;
  border-radius: 15px;
  cursor: pointer;
  align-items: center;
  margin-top: 15px;
}
.test-site-codes:hover {
  width: 95%;
}

.super-btn {
  background: var(--brnd-c);
  display: block;
  padding: 20px 50px;
  margin: 20px auto 20px auto;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  align-content: center;
  font-size: 16px;
}
.super-btn:hover {
  border-color: white;
  background: none;
  opacity: 90%;
  border-width: thick;
  color: white;
}

h1 {
  font-size: 40px;
  margin-top: 5px;
}

.features {
  margin: 0;
  background: var(--ts-bg);
}
.testimonials {
  padding-left: 5px;
  padding-top: 35px;
}

.testimonials li {
  background: var(--ts-img-bg);
  padding: 10px 5px;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto 50px auto;
  text-align: center;
  list-style: none;
}
.testimonials li img {
  width: 60px;
  height: 60px;
  border: 5px solid var(--ts-img-bg);
  border-radius: 50%;
  margin-top: -35px;
}

footer {
  padding: 80px 25px 40px;
}

.footer-content {
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.footer-content .nav-brand {
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  padding: 18px 0px 10px 10px;
  margin: 10px 0px 0px 25px;
}

p.footer-desc {
  margin: 5px 20px 25px 0px;
  padding: 10px 0px 0px 0px;
  text-align: left;
  line-height: 25px;

  font-size: 16px;
  font-weight: normal;
}

.footer-links {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));

  gap: 50px;
  align-items: flex-end;
  list-style: none;
}

.footer-content .nav-brand span {
  color: var(--brnd-c);
  font-weight: normal;
}

.footer-list .sub {
  margin-bottom: 20px;
}

.footer-links li a {
  font-size: 14px;
  color: white;
}

.footer-links li:hover a {
  color: var(--brnd-c);
}

.footer-links ul li {
  margin-bottom: 10px;
  list-style: none;
}

.social-link a {
  display: inline-block;
  color: var(--brnd-c);
  padding: 35px 0px;
  margin: 20px 0px 2px 25px;
}

.social-link ion-icon {
  font-size: 25px;
  margin-right: 0px;
}

/* copyright section */
.copyright-label {
  text-align: center;
  padding-top: 40px;
  font-size: 12px;
}
hr {
  height: 1px;
  border: none;
  background-color: var(--brnd-c);
  opacity: 30%;
}

/*** ----------------------------------
            Right Scrollbar Settings
\*** ----------------------------------- ***/

::-webkit-scrollbar {
  background: transparent;
  border-left: 1px solid var(--ts-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--brnd-c);
  border-radius: 5em;
  border: 1px solid var(--ts-img-bg);
}
