@import url(./var.css);
/**
 * copyright 2022 @TestSite by Godfrey Jeremiah (GJEF)
 */

/*-------------------------------------*\
  #RESPONSIVE FOR 768px
\*-------------------------------------*/
/**Import variable stylesheet*/

@media screen and (min-width: 768px) {
  .nav-menu-button,
  .nav-close-button {
    display: none;
  }

  section {
    padding: 10em 1em auto 4em;
  }

  /* ----NAVIGATION SECTION---- */

  .navbar {
    background: rgb(40, 42, 27);
    opacity: 95%;
    position: fixed;
    width: 100%;
    padding: 0 60px auto 60px;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: 10px;
    width: 100%;
    padding: 0;
    margin-right: 25px;
  }

  .navbar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav-brand {
    padding: 0 10px 3px 25px;
  }

  ul.super-menu {
    margin: 0;
  }

  .super-menu .navbar-link {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding: 12px 15px 0 20px;
  }

  .super-menu .navbar-link:hover {
    font-weight: bold;
    opacity: 95%;
    color: var(--brnd-c);
  }

  .subscribe {
    background: var(--brnd-c);
    display: block;
    padding: 12px 60px;
    margin: 0 120px 0 20px;
    border-radius: 80px;
    cursor: pointer;
    font-weight: bold;
    align-content: center;
    border: 1px solid white;
    font-size: 12px;
  }

  .subscribe:hover {
    border: 1px solid var(--brnd-c);
    background: none;
    opacity: 80%;

    color: white;
  }
  /* ----BODY SECTION---- */
  .super-block {
    // back here later
  }

  a .super-btn {
    font-size: 12px;
    padding: 20px 60px;
    margin-top: 60px;
    align-items: center;
  }

  .test-site-codes {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
  }

  .super-btn {
    border: 2px solid white;
    font-size: 16px;
  }
  .super-btn:hover {
    border: 2px solid var(--brnd-c);
    background: none;
    opacity: 80%;

    color: white;
  }

  /* ----FOOTER SECTION---- */

  .social-link a {
    padding-left: 25px;
    margin: 20px;
  }

  p.footer-desc {
    padding: 10px 400px 0px 0px;
  }

  .copyright-label {
    font-size: 14px;
  }
}

/*-------------------------------------*\
  #RESPONSIVE FOR 968px
\*-------------------------------------*/
/*--------------------------------------
Breakpoint for Desktop screen 968px
-----------------------------------------*/

@media only screen and (min-width: 968px) {
  .main-container {
    width: 100%;
  }

  div.block-container {
    margin: 30px 20px;
    text-align: left;

    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 100px;
    align-items: stretch;
    list-style: none;
  }

  .block-container .col-right {
    margin: 0;
    padding-top: 10px;
  }

  .block-container .col-left {
    margin: 0;
    width: 400px;
  }

  button.super-btn {
    margin-left: 50px;
  }

  .test-site-codes {
    width: 400px;
    border-radius: 15px;
    cursor: pointer;
  }
}

/*--------------------------------------
Breakpoint for Desktop screen 1080px
-----------------------------------------*/

@media only screen and (min-width: 1080px) {
  .main-container {
    width: 100%;
  }

  .block-container {
    width: 90%;
    margin: 30px 25px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 20px;
    align-items: flex-end;
    list-style: none;
    padding: 0 60px 0 0;
  }

  h1 {
    line-height: 65px;
  }
  .block-container .col-right {
    margin: 0;
    padding-top: 10px;
    text-align: center;
  }

  .block-container .col-left {
    margin: 0;
    width: 100%;
  }

  .test-site-codes {
    width: 480px;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    margin-top: 15px;
  }

  /**-----------------------------------------------*/
  /* Testimonial Section */
  /**-----------------------------------------------*/

  .testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 50px;
    align-items: flex-end;
    list-style: none;
  }
}

/*--------------------------------------
Breakpoint for Desktop screen 1280px - 1480px
-----------------------------------------*/

@media only screen and (min-width: 1280px) and (max-width: 1480px) {
  .main-container {
    width: 100%;
  }

  div .block-container {
    padding: auto;
    margin: auto;
  }

  .footer-content {
    padding-left: 100px;
  }
}

/*--------------------------------------
Breakpoint for Desktop screen 1481px - 1780px
-----------------------------------------*/

@media only screen and (min-width: 1481px) {
  .main-container {
    width: 100%;
  }

  div .block-container {
    padding: auto;
    margin: auto 260px auto 69px;
    gap: 100px;
  }

  .test-site-codes {
    width: 600px;
  }

  p.footer-desc {
    padding: 10px 600px 0px 0px;
  }

  .footer-content {
    padding-left: 100px;
  }
}
