/**
 * copyright 2022 @TestSite by Godfrey Jeremiah (GJEF)
 */

:root {
  /**
*Colors
*/
  --brnd-c: rgb(203, 201, 69);
  --gn-bg: #434143;
  --ts-img-bg: rgb(66, 69, 51);
  --ts-bg: rgb(89, 92, 73);
  --gn-fc: #ffffff;

  /**
*Typography
*/
  --rob: "Roboto";

  /**
*Spacing
*/
  --pd: 25px;
}
